<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>About Us</h2>
      <p>
        Moyo District Farmers’ Association (MDFA) is a non-governmental membership based organization
        belonging to the farmers, formed and registered in 1998 and working with farmers of west Nile 
        districts of Moyo and Obongi. MDFA represents farmers, most of whom are smallholders, and promotes 
        sustainable agriculture and natural resources management. MDFA works to reduce people’s vulnerability 
        and supports them to realize their full potential, build on their assets, and respond to their own 
        needs and problems in a sustainable manner.
      </p>
    </div>

    <div class="row gy-4">
      <div class="col-lg-6">
        <!-- <h3>Voluptatem dignissimos provident quasi corporis</h3> -->
        <img src="static/img/clients/MDFA-schools.jpg" class="img-fluid rounded-4 mb-4" alt="">
        <p>
          The organization is officially registered with the registrar of companies and National 
          NGO Board as a District Apex organization, incorporated as a company limited by guarantee 
          and with Moyo District Local Government as Community Based Organization.</p>
        <p>
          <h3>Our Goal</h3>
          The goal of MDFA is ‘increasing household food security and incomes to eradicate poverty’ 
          through practice and technology development, policy advocacy and farm produce marketing. 
          MDFA pursues this goal by supporting activities or projects under the thematic areas; 
          Livelihoods and Environment, Climate change, Sustainable Agriculture (SA), Community 
          Development (CD), Environment and Natural Resource Management (ENRM), Food and Nutrition 
          (FN), Child Protection (CP), Gender equity and sexual Based violence, Water, Sanitation 
          and Hygiene (WASH), governance and Human rights. 
          <br />
          The Activities in support of agriculture focus on improving farmer’s knowledge and skills 
          on innovations and technologies, access to quality, affordable and adequate inputs for food 
          and commercial farming as well as their understanding of and ability to engage with markets 
          and other services.
        </p>
      </div>
      <div class="col-lg-6">
        <div class="content ps-0 ps-lg-5">
          <p class="fst-italic">
            <h3>Our Vision</h3>
            To be the Leading Farmer Organization in Uganda.
          </p>
          <p class="fst-italic">
            <h3>Our Mission</h3>
            To increase agricultural productivity and production of the farmers through agricultural extension services, market linkages, lobby and advocacy for improved Livelihoods.              </p>
            <h3>Our Strategic Objectives</h3>
          <ul>
            <li><i class="bi bi-check-circle-fill"></i>
              To strengthen the Capacity of the organization for efficient and effective service delivery
            </li>
            <li><i class="bi bi-check-circle-fill"></i> 
              Increased agricultural productivity and income of smallholder farmers through climate proof farming, with increased access to inputs, markets and value addition
            </li>
            <li><i class="bi bi-check-circle-fill"></i>
              Enhance capacity of farmers to actively contribute to agro-industrialization program and Institutional development
            </li>
            <li><i class="bi bi-check-circle-fill"></i>
              To enhance inclusion of women, youth and vulnerable groups in development interventions for sustainable development with enhanced access to, and control of resource and decision making
            </li>
            <li><i class="bi bi-check-circle-fill"></i>
              To strengthen sustainable natural resource management and biodiversity conservation for community development
            </li>
          </ul>

          <div class="position-relative mt-4">
            <img src="static/img/MDFA-Tractor.jpg" class="img-fluid rounded-4" alt="">
            <!-- <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a> -->
          </div>
        </div>
      </div>
    </div>

  </div>
</section>