<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Contact</h2>
      <p>Visit our office or alternatively you can reach us through our mobile and email addresses below and will do our best to get back to you as soon as possible.
      </p>        
    </div>

    <div class="row gx-lg-0 gy-4">

      <div class="col-lg-12">

        <div class="info-container d-flex justify-content-between">
          <div class="info-item d-flex">
            <i class="bi bi-geo-alt flex-shrink-0"></i>
            <div>
              <h4>Location:</h4>
              <p>Plot No. 4, Onama Road,<br /> P.0 Box, 260 Moyo, Uganda</p>
            </div>
          </div><!-- End Info Item -->

          <div class="info-item d-flex mr-1">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div>
              <h4>Email:</h4>
              <p>info@moyodfa.org<br>dfamoyo@yahoo.com</p>
            </div>
          </div><!-- End Info Item -->

          <div class="info-item d-flex mr-1">
            <i class="bi bi-phone flex-shrink-0"></i>
            <div>
              <h4>Call:</h4>
              <p>+256 782 624 713<br>+256 778 559 089</p>
            </div>
          </div><!-- End Info Item -->

          <div class="info-item d-flex mb-3">
            <i class="bi bi-clock flex-shrink-0"></i>
            <div>
              <h4>Open Hours:</h4>
              <p>Mon-Fri: 8:00AM - 5:00PM</p>
            </div>
          </div><!-- End Info Item -->
        </div>

      </div>

    </div>

  </div>
</section>