<footer id="footer" class="footer">

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-info">
        <a href="#" class="logo d-flex align-items-center">
          <span>MDFA</span>
        </a>
        <p>
          Moyo District Farmers’ Association (MDFA) is a non-governmental membership based organization 
          belonging to the farmers, formed and registered in 1998 and working with farmers of west Nile 
          districts of Moyo and Obongi. MDFA represents farmers, most of whom are smallholders, and 
          promotes sustainable agriculture and natural resources management. MDFA works to reduce 
          people’s vulnerability and supports them to realize their full potential, build on their 
          assets, and respond to their own needs and problems in a sustainable manner.
        </p>
        <div class="social-links d-flex mt-4">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('index') }}#about">About us</a></li>
          <li><a href="{{ url_for('index') }}#services">Services</a></li>
          <li><a href="{{ url_for('index') }}#team">Team</a></li>
          <li><a href="{{ url_for('index') }}">Terms of service</a></li>
          <li><a href="{{ url_for('index') }}">Privacy policy</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Our Services</h4>
        <ul>
          <li><a href="#">Agricultural Extension & Advisory Services</a></li>
          <li><a href="#">Consultancy</a></li>
          <li><a href="#">Agricultural Market Development</a></li>
          <li><a href="#">Policy & Advocacy</a></li>
          <li><a href="#">Financial Services</a></li>
          <li><a href="#">Tractor Hire</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Contact Us</h4>
        <p>
          Plot No. 4 <br>
          Onama Road <br>
          P.0 Box, 260 Moyo <br>
          Uganda <br><br>
          <strong>Phone:</strong> +256 782 624 713 / +256 778 559 089 <br>
          <strong>Email:</strong> info@moyodfa.org / dfamoyo@yahoo.com <br>
        </p>

      </div>

    </div>
  </div>

  <div class="container mt-4">
    <div class="copyright">
      <!-- &copy; Copyright <strong><span>Impact</span></strong>. All Rights Reserved -->
      &copy; Copyright <strong><span>MDFA</span></strong> <script>document.write(new Date().getFullYear())</script>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/impact-bootstrap-business-website-template/ -->
      Designed by <a href="mailto:anyamaronyango@gmail.com">Anyric</a>
    </div>
  </div>

</footer>
<!-- End Footer -->