<section id="team" class="team">
  <div class="container" data-aos="fade-up">

    <div class="section-header pb-5">
      <h2>Our Team</h2>
      <!-- <p>Nulla dolorum nulla nesciunt rerum facere sed ut inventore quam porro nihil id ratione ea sunt quis dolorem dolore earum</p> -->
    </div>
    <div class="section-header2">
      <h5>Board Executives</h5>
    </div>
    <div class="row gy-4 mb-4 justify-content-center">

      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <img src="static/img/team/ED-MDFA.png" class="img-fluid" alt="">
          <h4>John Isse Ogwido</h4>
          <span>Board Chairpersion</span>
        </div>
      </div><!-- End Team Member -->

      
      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <img src="static/img/team/VC-MDFA.png" class="img-fluid" alt="">
          <h4>Lulua Kanta Leri</h4>
          <span>Vice Chairpersion</span>
        </div>
      </div><!-- End Team Member -->
    </div>
    <div class="section-header2">
      <h5>Senior Management staff</h5>
    </div>
    <div class="row gy-4 mb-4 justify-content-center">
      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
        <div class="member">
          <img src="static/img/team/Coordinator-MDFA.png" class="img-fluid" alt="">
          <h4>Iranya Emmanuel</h4>
          <span>Coordinator</span>
        </div>
      </div><!-- End Team Member -->

      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <img src="static/img/team/Finance-manager-MDFA.png" class="img-fluid" alt="">
          <h4>Vuchiri Patrick</h4>
          <span>Finance Manager</span>
        </div>
      </div><!-- End Team Member -->
      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <img src="static/img/team/AFM-MDFA.png" class="img-fluid" alt="">
          <h4>Jenet Maneno</h4>
          <span>Assistant Finance Manager</span>
        </div>
      </div><!-- End Team Member -->
    </div>
    <div class="row gy-4 mb-4 justify-content-center">
      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <img src="static/img/team/ES-MDFA.png" class="img-fluid" alt="">
          <h4>Madrama Francis</h4>
          <span>Extension Supervisor</span>
        </div>
      </div><!-- End Team Member -->

      
      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <img src="static/img/team/CSE-MDFA.png" class="img-fluid" alt="">
          <h4>Mawadri Justine</h4>
          <span>Climate Smart Expert</span>
        </div>
      </div><!-- End Team Member -->

      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <img src="static/img/team/GO-MDFA.jpg" class="img-fluid" alt="">
          <h4>Oguaru Keren</h4>
          <span>Gender Officer</span>
        </div>
      </div><!-- End Team Member -->

    </div>

  </div>
</section>