<section id="testimonials" class="testimonials">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Testimonials</h2>
      <p>Catch up with what our members has to say about our work.</p>
    </div>

    <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <div class="d-flex align-items-center">
                <div>
                  <h3>Arapi Crane Group</h3>
                </div>
              </div>
              <div class="position-relative mt-4">
                <video width="400" controls>
                  <source src="static/videos/ACG.mp4" type="video/mp4">
                  <source src="mov_bbb.ogg" type="video/ogg">
                  Your browser does not support HTML video.
                </video>
              </div>
            </div>
          </div>
        </div><!-- End testimonial item -->
        <div class="swiper-slide">
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <div class="d-flex align-items-center">
                <div>
                  <h3>Manzora Farmers Group</h3>
                </div>
              </div>
              <div class="position-relative mt-4">
                <video width="400" controls>
                  <source src="static/videos/MFG.mp4" type="video/mp4">
                  <source src="mov_bbb.ogg" type="video/ogg">
                  Your browser does not support HTML video.
                </video>
              </div>
            </div>
          </div>
        </div><!-- End testimonial item -->
        <div class="swiper-slide">
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <div class="d-flex align-items-center">
                <div>
                  <h3>Women Development Group</h3>
                </div>
              </div>
              <div class="position-relative mt-4">
                <video width="400" controls>
                  <source src="static/videos/WDG.mp4" type="video/mp4">
                  <source src="mov_bbb.ogg" type="video/ogg">
                  Your browser does not support HTML video.
                </video>
              </div>
            </div>
          </div>
        </div><!-- End testimonial item -->

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section>